body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    background-color: #673ab7;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

#logo-liga {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 60px;
}
#equipos {
    text-align: center;
    margin-top: 30px;
}
.equipo {
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: 10px;
    padding: 15px;
    vertical-align: top;
}
.equipo .fundacion {
    background-color: #673ab7;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 5px;
    margin-bottom: 10px;
}
.equipo h3 {
    font-size: 24px;
    margin: 10px 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.equipo img.escudo {
    height: 120px;
    margin: 10px 0;
}

.equipo-estadio {
    color: #673ab7;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.competiciones {
    margin: 10px 0;
}

.competicion-logo {
    height: 50px;
    margin: 0 5px;
}
.equipo button {
    margin-top: 10px;
    background-color: #673ab7;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}